//
   Created by Gaetano on 03/04/2014.
extends ../layout
block body
    .container
        .row
            .col-sx-12
                if req.session.flash
                    if req.session.flash.success
                        .alert.alert-success
                            p= req.flash('success')
                    if req.session.flash.error
                        .alert.alert-danger
                            p= req.flash('error')
                if(result.length > 0)
                    table.table.table-hover
                        thead:tr
                            th id
                            th username
                            th email
                            th actions
                        tbody
                            each utente in result
                                tr
                                    td= utente.id
                                    td= utente.username
                                    td= utente.email
                                    td
                                        .btn-group.btn-group-sm
                                            a.btn.btn-primary(href="/user/" + utente.id) Read
                                            a.btn.btn-primary(href="/user/update/" + utente.id) Update
                                            a.btn.btn-primary(href="/user/destroy/" + utente.id) Delete
                else
                    p Nessun risultato

