//
   Created by Guest on 04/04/14.

extends ../layout
block body
    .container
        .jumbotron
            .row
                .col-sm-4
                    img(src="http://placehold.it/200x200")
                    h3= result.username
                    ul.list-unstyled
                        li= result.firstName + ' ' + result.lastName
                        li= result.email
                        li= 'DoB: ' + result.dateOfBirth
                .col-sm-8
                    if req.session.flash
                        if req.session.flash.success
                            .alert.alert-success
                                p= req.flash('success')
                        if req.session.flash.error
                            .alert.alert-danger
                                p= req.flash('error')
                    form.form-horizontal(method="post", action="/posts")
                        .form-group
                            .col-sm-12
                                textarea.form-control(rows="3", name="text", placeholder="What's on your mind?")
                        .form-group
                            .col-sm-12.text-right
                                input(type="hidden", name="taggedUsers[0]", value=req.param('id'))
                                button.btn.btn-lg.btn-primary(type="submit", name="postMessage")= 'Post '
                                    span.glyphicon.glyphicon-send
                    hr
                    if result.comments
                        each comment in result.comments
                            .row
                                .col-xs-12
                                    h4!= comment.author.username + ' <small>writes:</small>'
                                    p= comment.text
                                    .row
                                        .col-xs-6
                                            if comment.taggedUsers
                                                each u in comment.taggedUsers
                                                    li= u.username
                                        .col-xs-6.text-right
                                            date= comment.createdAt
